@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .free-btn {
    @apply bg-primary rounded-[10px] text-[#ffffff];
  }
  .componentTitle {
    @apply text-[18px] sm:text-[22px] text-[#9D9D9D] font-[500] text-center;
  }

  .circularImg {
    @apply rounded-full flex flex-row justify-center items-center;
  }

  .bigText {
    @apply text-[20px] sm:text-[25px] md:text-[30px] lg:text-[40px] font-[700] text-[#263741] tracking-[-0.017em];
  }
  .footer-title {
    @apply text-lg mb-4 font-semibold;
  }

  .button {
    @apply md:text-lg font-bold tracking-wide bg-primary text-white p-3 focus:outline-none rounded-lg;
  }

  .componentTitle {
    @apply text-[12px] sm:text-[15px] md:text-[20px] lg:text-[25px] xl:text-[32px] text-[#9D9D9D] font-[500] text-center;
  }

  .circularImg {
    @apply rounded-full flex flex-row justify-center items-center;
  }

  .bigText {
    @apply text-[20px] sm:text-[25px] md:text-[30px] lg:text-[40px] xl:text-[60px] font-[600] text-[#263741] tracking-[-0.017em];
  }
}

@layer utilities {
  .navbar-shadow {
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.08);
  }
  .text-primary {
    color: #0bacf0;
  }
  .bg-primary {
    background-color: #0bacf0;
  }
  .landing1-height {
    min-height: calc(100vh - 111px);
  }
  .box-shadow {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.06);
  }
  .boxShadow {
    box-shadow: 0px 0px 5px 0px gray;
  }
  .boxShadowSkyBlue {
    box-shadow: 0px 0px 26px rgba(11, 172, 240, 0.2);
  }
  .customer-review-shadow {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  }
  .tech-slideshow {
    height: 80px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }

  .tech-slideshow > div {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
  }
  .tech-slideshow .mover-1 {
    animation: slideshow 12s linear infinite;
  }
  .pause-animation {
    animation-play-state: paused !important;
  }
  .start-animation {
    animation-play-state: running !important;
  }
  .animation-none {
    animation: none !important;
  }
  @keyframes slideshow {
    100% {
      transform: translateX(-76.6666%);
    }
  }
}
